.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userpage_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userprofile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistpage_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  margin: 10px;
}

/* .user_content { */
/* display: flex;
  justify-content: space-around; */
/* } */

.artists_section,
.songs_section {
  display: flex;
  flex-direction: row;
  /* width: 45%; */
}

.artists_cell,
.songs_cell {
  margin: 10px;
}

.clicked {
    background-color: darkgrey;
  }
